#canva {
  background: white;
  display: block;
}

ul, ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  overflow: hidden;
}

html {

}

.actions {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.actions svg#brush {
  width: 2em;
  height: 2em;
  transition: all 0.3s;
}

.actions svg#eraser {
  width: 2.1em;
  height: 2.1em;
  padding-left: 20px;
  transition: all 0.3s;
}

.actions svg.active {
  fill: red;
  transform: scale(1.2);
  
}

.colors {
  position: fixed;
  top: 75px;
  left: 19px;
}

.colors> li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin: 10px 0;
  transition: all 0.3s;
}

.colors> li.black {
  background: black;
}

.colors> li.red {
  background: red;
}
.colors> li.green {
  background: green;
}
.colors> li.blue {
  background: blue;
}

.colors> li.active{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
  transform: scale(1.2);
}